<div class="mobile-menu d-md-none">
  <div class="container">
    <div class="row text-center">
      <div class="col">
        <a routerLink="/home" class="menu-icon">
          <i class="fas fa-home"></i>
        </a>
      </div>
      <div class="col">
        <a routerLink="/dashboard" class="menu-icon">
          <i class="fa-solid fa-chart-line"></i>
        </a>
      </div>
      <div class="col">
        <a routerLink="/about" class="menu-icon">
          <i class="fas fa-info-circle"></i>
        </a>
      </div>
      <div class="col">
        <a routerLink="/call-us" class="menu-icon">
          <i class="fa-regular fa-envelope"></i>
        </a>
      </div>
    </div>
  </div>
</div>
