<div class="wrapper">
  @if(isMobile) {
  <app-mobile-menu (logoutEvent)="logout()"></app-mobile-menu>
  } @else {
  <nav class="sidebar" [class.active]="isSidebarOpen">
    <div class="sidebar-header">
      <img src="assets/images/logo.png" alt="logo" class="logo" width="100" />
      <div class="d-flex flex-column">
        <button class="btn-close-menu mb-4" (click)="toggleSidebar()">
          <i class="fas fa-times"></i>
        </button>
        <button class="btn btn-light btn-logout" (click)="logout()">
          <i class="fas fa-sign-out-alt"></i> Sair
        </button>
      </div>
    </div>
    <ul class="nav flex-column">
      <li class="nav-item">
        <a class="nav-link" routerLink="/home" routerLinkActive="active"><i class="fas fa-home"></i> Home</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/dashboard" routerLinkActive="active"><i class="fa-solid fa-chart-line"></i>
          Dashboard</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/about" routerLinkActive="active"><i class="fas fa-info-circle"></i> Sobre</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/call-us" routerLinkActive="active"><i class="fa-regular fa-envelope"></i> Fale
          Conosco</a>
      </li>
    </ul>
  </nav>
  }

  <div class="content">
    @if(!isSidebarOpen && !isMobile) {
    <button class="btn-open-menu" (click)="toggleSidebar()">
      <i class="fas fa-bars"></i>
    </button>
    }
    <div id="render-container" class="fade-in">
      <ng-content />
    </div>
  </div>
</div>
