<div class="presentation-container">
  <h1 class="title">AirGuardIoT</h1>
  <p class="description">Seu sensor inteligente de qualidade do ar</p>

  <div class="gauges-container">
    <div class="gauge">
      <div class="gauge-circle">
        <div class="gauge-fill"></div>
        <div class="gauge-cover">{{ airQuality }}%</div>
      </div>
      <p class="gauge-label">Qualidade do Ar</p>
    </div>
    <div class="gauge">
      <div class="gauge-circle">
        <div class="gauge-fill"></div>
        <div class="gauge-cover">{{ temperature }}ºC</div>
      </div>
      <p class="gauge-label">Temperatura</p>
    </div>
  </div>
</div>
