<div class="container">
  <div class="row mt-4">
    <div class="col-12">
      <div class="form-check form-switch automation-switch-container w-100">
        <input
          class="form-check-input automation-switch"
          type="checkbox"
          role="switch"
          id="flexSwitchAutomationHumidity"
          [checked]="automationStatusHumidity === automationStatusEnum.ENABLED"
          (change)="toggleAutomationHumidity($event)">
        <label class="form-check-label automation-switch-label" for="flexSwitchAutomationHumidity">
          {{automationStatusHumidity === automationStatusEnum.ENABLED ? 'Desabilitar' : 'Habilitar'}} automação de umidade
        </label>
      </div>
    </div>
  </div>
  <div class="row mt-4">
    <div class="col-12 col-md-6">
      <div class="card text-center d-flex align-items-center p-3" [style]="{ backgroundColor: lastTemperature >= 30 || lastTemperature <= 10 ? '#ffebee' : null }">
        <ngx-gauge [value]="gaugeOptionsTemperature.value" [label]="gaugeOptionsTemperature.label"
          [append]="gaugeOptionsTemperature.appendText" [max]="gaugeOptionsTemperature.max" type="semi" [size]=200
          [thick]=15 cap="round" foregroundColor="#4caf50" backgroundColor="#e0e0e0"></ngx-gauge>
        <h5 class="card-title">Status da Temperatura</h5>
        <p class="fw-semibold" [class.text-success]="lastTemperature < 30" [class.text-danger]="lastTemperature >= 30">
          {{ lastTemperature < 30 ? 'Normal' : 'Alerta' }} </p>
      </div>
    </div>
    <div class="col-12 col-md-6 second-card">
      <div class="card text-center d-flex align-items-center p-3" [style]="{ backgroundColor: lastHumidity <= 40 || lastHumidity >= 70 ? '#ffebee' : null }">
        <ngx-gauge [value]="gaugeOptionsHumidity.value" [label]="gaugeOptionsHumidity.label"
          [append]="gaugeOptionsHumidity.appendText" [max]="gaugeOptionsHumidity.max" type="semi" [size]=200 [thick]=15
          cap="round" foregroundColor="#2196f3" backgroundColor="#e0e0e0"></ngx-gauge>
        <h5 class="card-title">Status da Umidade</h5>
        <p class="fw-semibold" [class.text-success]="lastHumidity > 40 && lastHumidity < 70"
          [class.text-danger]="lastHumidity <= 40 || lastHumidity >= 70">
          {{ lastHumidity > 40 && lastHumidity < 70 ? 'Normal' : 'Alerta' }} </p>
      </div>
    </div>
  </div>
  <div class="row mt-4">
    <div class="col-12 col-md-6">
      <div class="card text-center d-flex align-items-center p-3" [style]="{ backgroundColor: lastCO >= 100 ? '#ffebee' : null }">
        <ngx-gauge [value]="gaugeOptionsCO.value" [label]="gaugeOptionsCO.label"
          [append]="gaugeOptionsCO.appendText" [max]="gaugeOptionsCO.max" type="semi" [size]=200
          [thick]=15 cap="round" foregroundColor="#a5bfc4" backgroundColor="#e0e0e0"></ngx-gauge>
        <h5 class="card-title">Status de Monóxido de Carbono</h5>
        <p class="fw-semibold" [class.text-success]="lastCO < 200" [class.text-danger]="lastCO >= 200">
          {{ lastCO < 200 ? 'Normal' : 'Alerta' }} </p>
      </div>
    </div>
    <div class="col-12 col-md-6 second-card">
      <div class="card text-center d-flex align-items-center p-3" [style]="{ backgroundColor: lastGases >= 50 ? '#ffebee' : null }">
        <ngx-gauge [value]="gaugeOptionsGases.value" [label]="gaugeOptionsGases.label"
          [append]="gaugeOptionsGases.appendText" [max]="gaugeOptionsGases.max" type="semi" [size]=200 [thick]=15
          cap="round" foregroundColor="#fc8c03" backgroundColor="#e0e0e0"></ngx-gauge>
        <h5 class="card-title">Status de Gases Inflamáveis</h5>
        <p class="fw-semibold" [class.text-success]="lastGases < 100" [class.text-danger]="lastGases >= 100">
          {{ lastGases < 100 ? 'Normal' : 'Alerta' }} </p>
      </div>
    </div>
  </div>

  <div class="row mt-4">
    <div class="col-12 col-md-3">
      <div class="card d-flex align-items-center p-3">
        <div
          class="icon-container bg-primary text-white rounded-circle d-flex justify-content-center align-items-center">
          <i class="fas fa-thermometer-half fa-2x"></i>
        </div>
        <div class="ms-3">
          <h5 class="card-title mb-0">Média de Temperatura</h5>
          <p class="card-value fw-semibold">{{ averageTemperature }} ºC</p>
        </div>
       </div>
    </div>
    <div class="col-12 col-md-3 second-card">
      <div class="card d-flex align-items-center p-3">
        <div class="icon-container bg-info text-white rounded-circle d-flex justify-content-center align-items-center">
          <i class="fas fa-tint fa-2x"></i>
        </div>
        <div class="ms-3">
          <h5 class="card-title mb-0">Média de Umidade</h5>
          <p class="card-value fw-semibold">{{ averageHumidity }} %</p>
        </div>
      </div>
    </div>
    <div class="col-12 col-md-3 second-card">
      <div class="card d-flex align-items-center p-3">
        <div class="icon-container bg-secondary text-white rounded-circle d-flex justify-content-center align-items-center">
          <i class="fas fa-smog fa-2x"></i>
        </div>
        <div class="ms-3">
          <h5 class="card-title mb-0">Média de Monóxido de Carbono</h5>
          <p class="card-value fw-semibold">{{ averageCO }} ppm</p>
        </div>
      </div>
    </div>
    <div class="col-12 col-md-3 second-card">
      <div class="card d-flex align-items-center p-3">
        <div class="icon-container bg-warning text-white rounded-circle d-flex justify-content-center align-items-center">
          <i class="fas fa-mask-face fa-2x"></i>
        </div>
        <div class="ms-3">
          <h5 class="card-title mb-0">Média de Gases Inflamáveis</h5>
          <p class="card-value fw-semibold">{{ averageGases }} ppm</p>
        </div>
      </div>
    </div>
  </div>

  <div class="row mt-4">
    <div class="col-12">
      <div class="card">
        <div class="card-header">
          <h5 class="card-title text-center">Temperatura x Umidade x CO x Gases</h5>
        </div>
        <div class="card-body">
          <div id="chart">
            <apx-chart #chart [series]="chartOptions.series ?? []" [chart]="chartOptions.chart ?? { type: 'line' }"
              [xaxis]="chartOptions.xaxis ?? {}" [stroke]="chartOptions.stroke ?? {}"
              [tooltip]="chartOptions.tooltip ?? {}" [dataLabels]="chartOptions.dataLabels ?? {}"
              class="w-100"></apx-chart>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="row mt-4">
    <div class="col-12">
      <div class="card">
        <div class="card-header">
          <h5 class="card-title text-center">Dados dos Sensores</h5>
        </div>
        <div class="card-body">
          <div class="table-responsive-sm d-none d-md-block">
            <table class="table table-info table-striped table-hover">
              <thead>
                <tr>
                  <th scope="col">Sensor</th>
                  <th scope="col">Temperatura</th>
                  <th scope="col">Umidade</th>
                  <th scope="col">Monóxido de Carbono</th>
                  <th scope="col">Gases Inflamáveis</th>
                  <th scope="col">Data</th>
                </tr>
              </thead>
              <tbody>
                @for (data of paginatedQualityData; track $index) {
                <tr>
                  <th scope="row">{{ data.deviceId }}</th>
                  <td>{{ data.temperature }}</td>
                  <td>{{ data.humidity }}</td>
                  <td>{{ data.co }}</td>
                  <td>{{ data.gases }}</td>
                  <td>{{ data.timestamp | date: 'dd/MM/yyyy HH:mm' }}</td>
                </tr>
                }
              </tbody>
            </table>
          </div>
          <div class="d-block d-md-none">
            @for (data of paginatedQualityData; track $index) {
              <div class="card mb-3">
                <div class="card-body">
                  <h5 class="card-title">Sensor: {{ data.deviceId }}</h5>
                  <p class="card-text">Temperatura: {{ data.temperature }} ºC</p>
                  <p class="card-text">Umidade: {{ data.humidity }} %</p>
                  <p class="card-text">Monóxido de Carbono: {{ data.co }} ppm</p>
                  <p class="card-text">Gases Inflamáveis: {{ data.gases }} ppm</p>
                  <p class="card-text">Data: {{ data.timestamp | date: 'dd/MM/yyyy HH:mm' }}</p>
                </div>
              </div>
            }
          </div>
        </div>
        <div class="card-footer d-flex justify-content-center">
        <nav aria-label="Navegação da página">
          <ul class="pagination">

            <li class="page-item" [class.disabled]="currentPage === 1">
              <a class="page-link" href="javascript:void(0)" (click)="previousPage()">Anterior</a>
            </li>

            @for (page of [].constructor(totalPages); let i = $index; track i) {
              <li class="page-item" [class.active]="currentPage === i + 1">
                <a class="page-link" href="javascript:void(0)" (click)="goToPage(i + 1)">{{ i + 1 }}</a>
              </li>
            }

            <li class="page-item" [class.disabled]="currentPage === totalPages">
              <a class="page-link" href="javascript:void(0)" (click)="nextPage()">Próximo</a>
            </li>

          </ul>
        </nav>
      </div>
      </div>
    </div>
  </div>
</div>
